#YASH VERMA - MODULE 4 ASSIGNMENT- PYTHON DATA STRUCTURE

#Q1. What are data structures, and why are they important?

* Data Structure is a way of organizing and storing data so that it can be used effectively.

Some popular Data Structures: -

* Dictionary
* Stack
* Queue

Why are the Important: -

* They help our code run faster and use less memory.
* They make our code more organized and easier to manage.
* They allow us handle larger and complex data sets.
* They help us solving complex problem in a smart way.

# Q2. Explain the difference between mutable and immutable data types with examples?

Data types are classification of data that detemines what kind of value a variable can hold and what operation can be performed on it.

There are two types of DataTypes: -

* Mutable.

  - Mutable data types are those whose values can be changed, updated or removed after creation.
  - Example --> List, Set.

  -
        l = [1,2,3]
        l.append(4)
        print(l) -- > #Output [1,2,3,4] (Mutable)

* Immutable.

  - Immutable data types are those whose values cannot be changed, updated or removed after creation.
  - Example --> Tuples, String.
  -
        string1 = "pwskills"
        string1[0] = "Data Science" --> #Error
  -
        t = (1,2,3,4)
        t[1] = 5
        print(t) --> Error

# Q3. What are the main differences between lists and tuples in Python?

* The main difference between lists and tuples is: -
 - List are "mutable" and Tuples are "immutable".
 - List uses square brackets "[ ]" Tuples uses parentheses "()" brackets.
 -  Use lists when you want to store data that can change, like user input or values that update.
  - Tuples are ideal when you want to store fixed data, such as coordinates or configuration settings.

# Q4. Describe how dictionaries store data?

* Dictionaries stores the data in memory in "Key-Value" format.
* Keys are usually intergers or strings.
* Keys must be unique.
* Values can be of any data type.
* Each Key is linked to a specific Value.

-
      phonebook = {"Friend1": 12345, "Friend2": 45678, "Friend3": 98765}

# Q5. Why might you use a set instead of a list in Python?

* When you want unique values only (No Duplicate Values).
* When you want Faster response.

  -
        s = [1,1,2,2,3,3,4,4,5,5]
        s1 = set(s)
        print(s1) --> #Output {1,2,3,4,5}
* You can perform Mathematical Operations using set.

  -
        s2 = [1,2,3]
        s3 = [3,4,5]
        print(s2 & s3) --> #Output --> {3}

# Q6. What is a string in Python, and how is it different from a list?

* String is sequence of characters enclosed in quotes ' ' or double quotes " ".

* String: -
  - It is homogenous i.e. it can hold only text values(characters).

  - Even if you put numbers or symbols inside quotes, Python treats them as text.

  - Strings are immutable.

  -
        Text = "123abc@!"  # Still a string


* List: -
 - List is heterogenous i.e. it can hold multiple values of different data types.

 - It can hold multiple strings as well.

 - List are mutable.

 -
        my_list = [1, "Hello", 3.14, True]

#Q7. How do tuples ensure data integrity in Python?

* Tuples are immutable, meaning their values cannot be changed after creation.

* Tuples are useful when you want to store permanent, fixed data that should not be accidentally modified.

* This helps in preventing data loss or unwanted changes, especially in sensitive or critical data.

* Because tuples cannot be changed, they are also faster to access and more memory-efficient than lists.

# Q8.What is a hash table, and how does it relate to dictionaries in Python?

* A hash table is a data structure that stores key-value pairs.

It uses a hash function to turn each key into a number (called a hash) to store and find data quickly.

How it relates to dictionaries:

* In Python, a dictionary is built using a hash table.

* When you give a key (like "name"), Python:

* Turns the key into a number using a hash function.

* Uses that number to find the value quickly in memory.

This makes find, add, update, and delete operations very fast.

# Q9. Can lists contain different data types in Python?

* The Answer is Yes as Lists are hetrogenous which means it can store multiple values of different data types.

 -
        l = [1,2.3,True,3+4j,"A","b"]

# Q10. Explain why strings are immutable in Python?

* Strings are immutable because they are designed that way in Python.Once string is created you can't change it's value. If you try to change part of string python will create a new string.

 -
        name = "Yash"
        name1 = "H" + name[1:]
        print(name1) --> # (Hash)
        
* Safety:

 - String can't be changed so they can be shared safely between different parts of program.

* Faster Performance:

  - Being immutable makes them faster to access and more memory efficient.

* Hashable:

 - Since strings are immutable they can be used as keys in dictionaries, which need unique and unchanging keys.

# Q11.What advantages do dictionaries offer over lists for certain tasks?

* Faster search: Dictionaries use hashing, which means looking up a value by key is faster. Lists use linear search meaning, if you don't know the index and you are searching for a value, Python has to check each item one by one.

* Dictionary keys are unique and unchangeable which helps in quick and reliable data access.

* Dictionaries offer semantic clarity—you know what each value represents example phonebook.

* With Dictionary you can update values without changing the keys. Perfect for tracking changing states (like inventory).

#Q12. Describe a scenario where using a tuple would be preferable over a list?

* Safety: Tuples can't be changed so they can be shared safely between different parts of program.

* Faster Performance: Being immutable makes them faster to access and more memory efficient.

* Representing fixed data: Tuples are useful when you want to store a fixed set of values that should not change, like: Coordinates → (x, y)

* Hashable: Since tuples are immutable they can be used as keys in dictionaries, which need unique and unchanging keys.

#Q13. How do sets handle duplicate values in Python?

* Sets do not allow duplicate values in Python.

* If you try to add duplicates, the set will automatically remove them and keep only unique values.

  -  
          s = {1,2,3,4,1,2,3,4,1,2,3,4}
          print(s) --> #Output {1,2,3,4}

# Q14.How does the “in” keyword work differently for lists and dictionaries?

* For list "in" keyword checks whether a value is present in the list or not.

  -
        l = [1,2,3,4]
        print(3 in l) --> #True.
        print(5 in l) --> False.

* For Dictionary "in" keyword checks whether a key is present in the dictionary or not.

  -
        d = {"name": "Yash", "age": 29, "gender": "Male"}
        print("name" in d) --> True
        print(29 in d) --> False, as "in" keyword only checks for keys not values.

# Q15. Can you modify the elements of a tuple? Explain why or why not.

* No, you cannot modify the elements of a tuple.
* This is because tuples are immutable, meaning their values cannot be changed, added, or removed after creation.
* You can access elements using indexing, but you cannot modify them.

#Q16. What is a nested dictionary, and give an example of its use case?

* A nested dictionary means a dictionary inside another dictionary. It is used to store related data in a structured way.

  -
        student = {
        "name": "Yash",
        "marks": {
            "math": 85,
            "science": 90
          }
        }
        print("maths:", student["marks"]["math"]) --> maths: 85

#Q17. Describe the time complexity of accessing elements in a dictionary?

* Accessing elements in dicitionary is very fast.
* The time complexity of retrieving a value by its key in a dictionary is
  O(1).
* This is because dictionaries use a hash table internally which allows constant time lookup meaning no matter how big the dictionary is, access time stays almost the same.

  -
        d = {"name": "Yash", "age": 29}
        print(d["age"])

Python uses a hash function to jump straight to the value of "age".

#Q18. In what situations are lists preferred over dictionaries?

Use a list when:

* You need to store items in order (like a sequence).

* You want to access items using index numbers (like 0, 1, 2).

* You don't need keys just a simple collection of values.

 -
        fruits = ["apple", "banana", "mango"]
        print(fruits[0])

#Q19. Why are dictionaries considered unordered (in older versions), and how does that affect data retrieval?

In older versions of Python (before 3.7), dictionaries were unordered. This means they didnt remember the order in which you added the key-value pairs. For example, if you write {'a': 1, 'b': 2, 'c': 3}, it might print as {'b': 2, 'a': 1, 'c': 3}. So the order could change when you print or loop through the dictionary.

But this did not affect how you get values. If you do dict['a'], it will still give you 1. Only the looping order was unpredictable.

From Python 3.7 onwards, dictionaries are ordered. That means they now remember the insertion order. So when you loop through them, you get the items in the same order you added them. But even now, key access like my_dict['a'] works the same as before.

#Q20. Difference between a list and a dictionary in terms of data retrieval?

List: -

* Use a list when you care about the order or position.
* You don't need keys just a simple collection of values.
* Lists are accessed by Indexing (0,1,2).
* Slow to search data.
* my_list[0]

Dictionary: -

* Use a dictionary when you need to label your data with keys.
* With Dictionary you can update values without changing the keys. Perfect for tracking changing states (like inventory).
* Dictionaries are accessed by keys ("names").
* my_dict["name"]

#Practical Questions

In [2]:
#Q1. DP Write a code to create a string with your name and print it?

name = "Yash"
print(name)

Yash

In [3]:
#Q2.Write a code to find the length of the string "Hello World"?

string = "Hello World"
print(len(string))

11

In [5]:
#Q3. Write a code to slice the first 3 characters from the string "Python Programming"?

s = "Python Programming"
print(s[:3])

Pyt

In [6]:
#Q4.Write a code to convert the string "hello" to uppercase?

s = "hello"
print(s.upper())

HELLO

In [7]:
#Q5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?

s ="I like apple"
s1 = s[0:7] + "orange"
print(s1)

I like orange

In [13]:
#Q5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?

s ="I like apple"
s1 = s.replace("apple", "orange")
print(s1)

I like orange

In [14]:
#Q6.Write a code to create a list with numbers 1 to 5 and print it??

l = [1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [15]:
#Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

l1 = [1,2,3,4]
l1.append(10)
print(l1)

[1, 2, 3, 4, 10]

In [16]:
#Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

l2 = [1,2,3,4,5]
l2.remove(3)
print(l2)

[1, 2, 4, 5]

In [17]:
#Q9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

l3 = ["a","b","c","d"]
print(l3[1])

b

In [18]:
#Q10. Write a code to reverse the list [10, 20, 30, 40, 50]?

l4 = [10,20,30,40,50]
print(l4[::-1])

[50, 40, 30, 20, 10]

In [19]:
#Q11 Write a code to create a tuple with the elements 100, 200, 300 and print it?

t = (100,200,300)
print(t)

(100, 200, 300)

In [24]:
#Q12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

t1 = ('red', 'green', 'blue', 'yellow')
print(t1[-2])

blue

In [22]:
#Q13 Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

t2 = (10,20,5,15)
print(min(t2))

5

In [23]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

t3 = ('dog', 'cat', 'rabbit')
print(t3.index("cat"))

1

In [27]:
#Q15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

t4 = ("Mango", "Apple", "Kiwi")
a = "Kiwi" in t4
print(a)

True

In [33]:
#Q16 Write a code to create a set with the elements 'a', 'b', 'c' and print it?

s = {"a","b","c"}
print(sorted(s))

['a', 'b', 'c']

In [37]:
#Q17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}?

s = {1,2,3,4,5}
s.clear()
print(s)

set()

In [38]:
#Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}?

s = {1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

In [39]:
#Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?

s = {1,2,3}
s1 ={3,4,5}
print(s|s1)

{1, 2, 3, 4, 5}

In [40]:
#Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?

s = {1,2,3}
s1 = {2,3,4}
print(s&s1)

{2, 3}

In [41]:
#Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it?

d = {"name":"Yash","age": 29, "city": "Dhampur"}
print(d)

{'name': 'Yash', 'age': 29, 'city': 'Dhampur'}

In [43]:
#Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?

d1 = {"name": "John", "age": 25}
d1["country"] = "USA"
print(d1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [47]:
#Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?

d2 = {"name": "Alice", "age": 30}
print(d2["name"])

Alice

In [48]:
#Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?

d3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d3.pop("age")
print(d3)

{'name': 'Bob', 'city': 'New York'}

In [52]:
#Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?

d5 = {'name': 'Alice', 'city': 'Paris'}
a = "city" in d5
print(a)

True

In [53]:
#Q26. Write a code to create a list, a tuple, and a dictionary, and print them all?

a = [1,2,3,4.5,6.5,True,3+4j]
b = (7,8,9,9.9,8.9,False, 5+6j)
c = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print(a)
print(b)
print(c)

[1, 2, 3, 4.5, 6.5, True, (3+4j)]
(7, 8, 9, 9.9, 8.9, False, (5+6j))
{'name': 'Bob', 'age': 22, 'city': 'New York'}

In [61]:
#Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)?

list1 = [19,21,24,89,45]
list1.sort()
print(list1)

[19, 21, 24, 45, 89]

In [62]:
#Q28. Write a code to create a list with strings and print the element at the third index.??

l5 = ["a","b","c","d"]
print(l5[3])

d

In [70]:
#Q29 Write a code to combine two dictionaries into one and print the result.

c = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d = {"name1": "Alice", "age1": 30}
s = {**c,**d}
print(s)

{'name': 'Bob', 'age': 22, 'city': 'New York', 'name1': 'Alice', 'age1': 30}

In [73]:
#Q30. Write a code to convert a list of strings into a set?

l1 = [1,2,3,"a",True,4+5j]
print(set(l1))

{'a', 1, 2, 3, (4+5j)}